<div class="quote text-secondary-dark relative p-2 pt-6 pr-4 bg-secondary-light/30 border border-secondary-dark/30 rounded-md my-2 code_block">
    <div class="font-serif text-6xl absolute top-0 left-0 py-1 pl-3 font-bold text-secondary-dark/30">“</div>
    <div class="text-xl ml-10 mt-2">
        {{- .Inner | safeHTML }}
    </div>
    <div class="flex justify-end text-lg mt-4 mb-2 mr-2">
    {{ if .Attributes.author }}
        <div>— {{ .Attributes.author }}{{ if .Attributes.source }}, {{ end }}</div>
    {{ end }}
    {{ if and .Attributes.source .Attributes.url }}
    <div class="ml-4"><a href="{{ .Attributes.url }}">{{ .Attributes.source }}</a></div>
    {{ else if .Attributes.source }}
    <div class="ml-4">{{ .Attributes.source }}</div>
    {{ end }}
    </div>
</div>