<!doctype html>
<html>
  {{- partial "head.html" . -}}
  <body class="bg-background text-primary-dark pb-4">
    {{- partial "header.html" . -}}
    <main id="content" class="container mx-auto bg-surface pt-4 pb-8">
      {{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer.html" . -}} {{ if or (.Page.Store.Get "hasMermaid")
    .Page.Params.useMermaid }}
    <script type="module">
      import mermaid from "https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs";
      mermaid.initialize({ startOnLoad: true });
    </script>
    {{ end }} {{ if or (.Page.Store.Get "useMathJax") .Page.Params.useMathJax }}
    <script>
      MathJax = {
        chtml: {
          matchFontHeight: false,
        },
        tex: {
          inlineMath: [["$", "$"]],
        },
      };
    </script>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"
    ></script>
    {{ end }} {{- partial "search_form.html" . -}}
  </body>
</html>
