<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body class="bg-background text-gray-800 pb-4">
        {{- partial "header.html" . -}}
        <main id="content" class="container mx-auto bg-surface pt-4 pb-8">
            {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}
        {{ if .Page.Store.Get "hasMermaid" }}
        <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
        <script>
            mermaid.initialize({ startOnLoad: true, sequence: { mirrorActors: false } });
        </script>
        {{ end }}
    </body>
</html>
