<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body class="bg-background text-primary-dark pb-4">
        {{- partial "header.html" . -}}
        <main id="content" class="container mx-auto bg-surface pt-4 pb-8">
            {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}
        {{ if .Page.Store.Get "hasMermaid" }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/9.1.3/mermaid.min.js" integrity="sha512-E/owfVh8/U1xwhvIT4HSI064DRc1Eo/xf7AYax84rt9gVqA8tc/JNH/lvTl1tuw9PUHQIMGUtObkjYkgRjFqAA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            mermaid.initialize({ startOnLoad: true});
        </script>
        {{ end }}
        {{ if .Page.Store.Get "hasMathJax" }}
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        {{ end }}
        {{- partial "search_form.html" . -}}
    </body>
</html>
