{{ $icon_name := "fa-file-lines" }}
{{ if eq .CurrentSection.Section "til" }}
{{ $icon_name = "fa-circle-info" }}
{{ else if eq .CurrentSection.Section "memo" }}
{{ $icon_name = "fa-note-sticky" }}
{{ else if eq .CurrentSection.Section "dialogue" }}
{{ $icon_name = "fa-comments" }}
{{ end }}
<div class="mb-4">
    <h3 class="border-b-4 border-primary-dark text-primary-dark text-xl font-bold tracking-wider"><i class="fa-solid {{ $icon_name }}"></i> <a href="{{ .Permalink }}">{{ .Title }}</a></h3>
    <div class="flex justify-between mt-1 mx-2">
        <div>
            <ul class="flex gap-2 justify-end">
            {{ range (.GetTerms "tags") }}
            <li><a class="tag_link text-sm" href="{{ .Permalink }}">#{{ .LinkTitle }}</a></li>
            {{ end }}
            </ul>
        </div>
        <div>
            {{ if eq .Date .Lastmod}}
            <div class="text-right text-sm font-bold">{{ .Date | time.Format "2006/01/02" }}</div>
            {{ else }}
            <div class="text-right text-sm font-bold">{{ .Lastmod | time.Format "2006/01/02" }} <span class="text-xs text-red-600 font-thin">Updated</span></div>
            {{ end }}
        </div>
    </div>
</div>
