{{ with resources.Get "icon512.png" }}
<link rel="icon" type="image/png" sizes="512x512" href="{{ .RelPermalink }}" />
{{ end }} {{ with resources.Get "icon192.png" }}
<link rel="icon" type="image/png" sizes="192x192" href="{{ .RelPermalink }}" />
{{ end }} {{ with resources.Get "icon180.png" }}
<link rel="apple-touch-icon" sizes="180x180" href="{{ .RelPermalink }}" />
{{ end }} {{ with resources.Get "icon32.png" }}
<link rel="icon" type="image/png" sizes="32x32" href="{{ .RelPermalink }}" />
{{ end }} {{ with resources.Get "icon.svg" }}
<link rel="icon" type="image/svg+xml" href="{{ .RelPermalink }}" />
{{ end }} {{ with resources.GetMatch "site.webmanifest" }}
<link rel="manifest" href="{{ .RelPermalink }}" />
{{ end }}
