<header class="bg-primary-dark text-site_title text-6xl font-serif font-extrabold px-4 py-3">
    <h1 class="container mx-auto px-4"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
</header>
<input type="checkbox" name="burger_cbx" id="burger_cbx">
<label for="burger_cbx" class="burger_label">
    <span class="burger_icon">{{ partial "icons/burger_icon.svg" . }}</span>
</label>
<label for="burger_cbx" class="close_label">
    <span class="close_icon">{{ partial "icons/close_icon.svg" . }}</span>
</label>
<div class="nav_area">
    <nav class="container mx-auto bg-primary text-on-primary text-center flex flex-col md:flex-row justify-start">
        {{- $currentPage := . -}}
        {{- range sort .Site.Menus.main "Weight" -}}
            {{- if (or (eq $currentPage.RelPermalink .URL) (and (ne .Identifier "Home") (hasPrefix $currentPage.RelPermalink .URL)))  }}
            <a href="{{ .URL }}" class="box-border flex-1 text-center no-underline bg-primary-light text-on-primary-light font-extrabold py-2">{{ .Title }}</a>
            {{- else }}
            <a href="{{ .URL }}" class="flex-1 text-center no-underline text-on-primary py-2 hover:font-bold">{{ .Title }}</a>
            {{- end -}}
        {{- end }}
    </nav>
</div>
