<header class="bg-primary-dark text-accent text-6xl font-serif font-extrabold px-4 py-3">
    <h1 class="container mx-auto px-4">{{ .Site.Title }}</h1>
</header>
<div>
    <nav class="container mx-auto bg-primary text-on-primary text-center flex flex-col md:flex-row justify-start">
        {{- $currentPage := . -}}
        {{- range sort .Site.Menus.main "Weight" -}}
            {{- if (or (eq $currentPage.RelPermalink .URL) (and (ne .Identifier "Home") (hasPrefix $currentPage.RelPermalink .URL)))  }}
            <a href="{{ .URL }}" class="flex-1 text-center no-underline bg-primary-light text-on-primary font-extrabold py-2">{{ .Title }}</a>
            {{- else }}
            <a href="{{ .URL }}" class="flex-1 text-center no-underline text-on-primary py-2 hover:font-bold">{{ .Title }}</a>
            {{- end -}}
        {{- end }}
    </nav>
    </div>
</div>