{{ $icon_name := "fa-screwdriver-wrench" }}
{{ if eq .project_type "IHC" }}
{{ $icon_name = "fa-arrows-spin" }}
{{ end }}

<div class="area_border p-2 relative  px-4 pb-7">
    <h3 class="mb-4 text-lg"><a class="normal_link" href="{{ .html_url }}"><i class="fa-solid {{ $icon_name }}"></i> {{ .full_name }}</a></h3>
    <div class="mx-2 mb-4">
        {{ .description }}
    </div>
    {{ if eq .project_type "IHC" }}
    <div class="mb-2 ml-2">
        <h4 class="font-bold text-gray-600"><i class="fa-solid fa-code-merge"></i> 最近のイテレーション <span class="pl-1 font-normal">(<a class="tag_link" href="{{ .html_url }}/pulls?q=is%3Apr+is%3Aclosed">全マージ済 PR</a>)</span></h4>
        <ul class="normal_ul">
        {{ range first 3 .merged }}
            <li><a class="tag_link" href="{{ .html_url }}">{{ .title }}</a></li>
        {{ end }}
        </ul>
    </div>
    {{ end }}
    <div class="flex absolute bottom-1 right-2 text-gray-600">
        <h4 class="mr-2">使用言語: </h4>
        {{ range .langs }}
            <div class="mr-2">{{ . }}</div>
        {{ end }}
    </div>
</div>