{{ define "main" }}
{{ partial "page_summary.html" . }}
<h3 class="mx-4 mt-6 page_h3"><i class="fa-solid fa-square-pen"></i> 最近の学習記録</h3>
<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-2 mt-3 mb-8 mx-4">
{{ $articleSections := slice "blog" "til" }}
{{ with .Site.Params.articleSections }}
    {{ $articleSections = . }}
{{ end }}
{{ range (first .Site.Params.home.maxArticles (where .Site.RegularPages.ByLastmod.Reverse "Type" "in" $articleSections)) }}
    {{ partial "article_summary.html" . }}
{{ end }}
</div>

<h3 class="mx-4 mt-6 page_h3"><i class="fa-solid fa-comment-dots"></i> 最近の問答</h3>
<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-2 mt-3 mb-8 mx-4">
{{ range (first .Site.Params.home.maxDialogue (where .Site.RegularPages "Section" "dialogue")) }}
    {{ partial "article_summary.html" . }}
{{ end }}
</div>

<h3 class="mx-4 mt-6 page_h3"><i class="fa-solid fa-square-parking"></i> 最近のプロジェクト</h3>
<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-2 mt-3 mb-8 mx-4">
{{ range (first .Site.Params.home.maxMyTools (where .Site.RegularPages "Section" "mytools")) }}
    {{ partial "project_page.html" .Params.repo }}
{{ end }}
</div>

<h3 class="mx-4 mt-6 page_h3"><i class="fa-solid fa-arrow-rotate-right"></i> 最近のインクリメンタルハッキングサイクル</h3>
<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-2 mt-3 mb-8 mx-4">
{{ range (first .Site.Params.home.maxIHC (where .Site.RegularPages "Section" "ihc")) }}
    {{ partial "project_page.html" .Params.repo }}
{{ end }}
</div>
{{ end }}